*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #333;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}
.container .score {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  height: 40%;
  border-radius: 0 0 20px 20px;
  font-size: 2.3rem;
}
.container .score__text {
  color: hsl(241, 100%, 89%);
}
.container .score__numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  width: 100px;
  height: 100px;
}
.container .score__numbers-result {
  font-size: 4.8rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.container .score__numbers-of {
  font-size: 1.6rem;
  color: hsl(252, 100%, 67%);
}
.container .score__review-title {
  color: hsl(0, 0%, 100%);
  font-size: 2.8rem;
}
.container .score__review-text {
  margin-top: 0.5em;
  font-size: 1.6rem;
  color: hsl(241, 100%, 89%);
  width: 300px;
}
.container .summary {
  text-align: start;
  padding: 2em;
}
.container .summary__title {
  color: hsl(224, 30%, 27%);
  font-size: 1.8rem;
}
.container .summary .same {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  font-size: 1.8rem;
  position: relative;
}
.container .summary .same span {
  color: hsl(241, 100%, 89%);
}
.container .summary .opt-score {
  font-weight: 800;
}
.container .summary .name {
  margin-left: 30px;
}
.container .summary img {
  position: absolute;
  height: 35%;
}
.container .summary__option1 {
  background-color: hsla(0, 100%, 67%, 0.116);
}
.container .summary__option1-name {
  color: hsl(0, 100%, 67%);
}
.container .summary__option2 {
  background-color: hsla(39, 100%, 56%, 0.241);
}
.container .summary__option2-name {
  color: hsl(39, 100%, 56%);
}
.container .summary__option3 {
  background-color: hsla(166, 100%, 37%, 0.185);
}
.container .summary__option3-name {
  color: hsl(166, 100%, 37%);
}
.container .summary__option4 {
  background-color: hsla(234, 85%, 45%, 0.145);
}
.container .summary__option4-name {
  color: hsl(234, 85%, 45%);
}
.container .summary__button {
  width: 100%;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  padding: 0.9em;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  transition: color 0.3s;
  font-size: 1.8rem;
}
.container .summary__button:hover {
  color: hsl(241, 100%, 89%);
}

@media (min-width: 768px) {
  body {
    background-color: hsl(0, 0%, 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 15px 15px 0px rgba(171, 171, 171, 0.207);
    border-radius: 20px;
    padding: 0;
    margin: 0;
  }
  .container .score {
    border-radius: 20px;
    height: 450px;
    width: 300px;
    justify-content: space-around;
    justify-content: space-evenly;
  }
  .container .score__numbers {
    width: 150px;
    height: 150px;
  }
  .container .score__review-text {
    padding: 0 1em;
  }
  .container .summary {
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */