// ### Primary

$Lightred: hsla(0, 100%, 67%, 0.116);
$Orangeyyellow: hsla(39, 100%, 56%, 0.241);
$Greenteal: hsla(166, 100%, 37%, 0.185);
$Cobaltblue: hsla(234, 85%, 45%, 0.145);

$Lightred2: hsl(0, 100%, 67%);
$Orangeyyellow2: hsl(39, 100%, 56%);
$Greenteal2: hsl(166, 100%, 37%);
$Cobaltblue2: hsl(234, 85%, 45%);
// ## Gradients

$Lightslateblue: hsl(252, 100%, 67%);
$Lightroyalblue: hsl(241, 81%, 54%);

$Violetblue: hsla(256, 72%, 46%, 1);
$Persianblue: hsla(241, 72%, 46%, 0);

// ### Neutral

$White: hsl(0, 0%, 100%);
$Paleblue: hsl(221, 100%, 96%);
$Lightlavender: hsl(241, 100%, 89%);
$Darkgrayblue: hsl(224, 30%, 27%);
